# Created by Armbian firstlogin script
network:
  wifis:
    wlan0:
      dhcp4: yes
      dhcp6: no
      access-points:
        "ABCDEF":
          password: "askuidhfhkuasdf"
        "ghijkl":
          password: "978sdf897fd"

